.container {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

@media (max-width: 768px) {
  .container {
    padding: 14px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
}
